body {

    max-width: 1125px;
    margin: auto;
}

.menu-font-size{
    font-size: 16px;
    color: white;
}

header{
    margin-top: 5px;
}
#subscribe{
    position:absolute;
    transform: translateY(-50%);top:50%;
}
#descriptionText{
    width: 400px;
}
@media screen and (max-width: 575px) {
#search{
    position: absolute!important;
    top: 0!important;
    right: 0!important;
    padding-bottom: 10px;
    background-color: #ffc107!important;
}
header{
margin-top: 40px!important;
}

}
@media screen and (max-width: 770px) {
#subscribe{
    position: relative;
}
#subscribeBlock{
    margin:0 auto;

}
#descriptionText{
    width:100%;
}
#descriptionHeader{
    text-align: center;
}
}