body {

    max-width: 1366px;
    margin: auto;
}

.menu-font-size{
    font-size: 16px;
    color: white;
}

header{
    margin-top: 5px;
}
#subscribe{
    position:absolute;
    transform: translateY(-50%);top:50%;
}
#descriptionText{
    width: 400px;
}
.productActionBlock{
    width:200px;
    
    display: inline-block;
}
.product-img{
    height: 184px;
    padding:10px;
}
.product-price{
    border-radius:0;
    margin-top:5px;
    
}
.pr-action,.nx-action{
    background-image: none;
    position: relative;
}
.pr-action:after
{
    content: '<';
    font-size: 55px;
    color: red;
}
.nx-action:after
{
  content: '>';
  font-size: 55px;
  color: red;
}
@media screen and (max-width: 575px) {
#search{
    position: absolute!important;
    top: 0!important;
    right: 0!important;
    padding-bottom: 10px;
    background-color: white!important;
}
header{
margin-top: 40px!important;
}

}
@media screen and (max-width: 770px) {
#subscribe{
    position: relative;
}
#subscribeBlock{
    margin:0 auto;

}
#descriptionText{
    width:100%;
}
#descriptionHeader{
    text-align: center;
}
}